#qr-container {
	padding: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#qr-container * {
	margin: 1rem auto;
}
#qr-container header {
	text-align: center;
	width: 100%;
}
#qr-container img {
	width: 100%;
}
#qr-container footer {
	text-align: center;
	width: 100%;
}